<navbar></navbar>
<div class="row">
  <div class="col-sm-12 col-md-6 col-sm-offset-3">

    <div class="alert alert-warning alert-dismissible fade show" role="alert" ng-if="$ctrl.msgErr">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>{{$ctrl.msgErr}}</strong>
    </div>
    <form name="formLivro" ng-submit="formLivro.$valid && $ctrl.insert()">
      <div class="form-group">
        <label for="titulo">Título</label>
        <input required="true" type="text" name="titulo" id="titulo" class="form-control" ng-model="$ctrl.livro.titulo">
        <!--<small id="tituloHelp" class="form-text text-muted">Informe o título do livro</small>-->

        <div ng-messages="formLivro.titulo.$error" style="color:maroon" role="alert">
          <div ng-message="required" ng-show="formLivro.titulo.$touched && formLivro.titulo.$invalid">Informe o título</div>
        </div>
      </div>
      <div class="form-group">
        <label for="ISBN">ISBN</label>
        <input type="text" name="isbn" id="isbn" class="form-control" ng-model="$ctrl.livro.isbn">
        <!--        <small id="isbnHelp" class="form-text text-muted">Informe o ISBN</small>-->
      </div>

      <div class="form-group">
        <label for="descricao">Descrição</label>
        <textarea required="true" type="text" name="descricao" id="descricao" class="form-control" rows="3" ng-model="$ctrl.livro.descricao"></textarea>
        <!--    <small id="descricaoHelp" class="form-text text-muted">Informe o título do livro</small>-->

        <div ng-messages="formLivro.descricao.$error" style="color:maroon" role="alert">
          <div ng-message="required" ng-show="formLivro.descricao.$touched && formLivro.descricao.$invalid">Descreva brevemente o livro</div>
        </div>
      </div>

      <div class="form-group">
        <label for="descricao">Capa</label>
        <input type="text" name="capa" id="capa" class="form-control" ng-model="$ctrl.livro.capa"></input>
        <!--    <small id="descricaoHelp" class="form-text text-muted">Informe o título do livro</small>-->
      </div>

      <div class="form-group">
        <label for="ano">Ano</label>
        <input required="true" type="number" name="ano" id="ano" class="form-control" ng-model="$ctrl.livro.ano">
        <!--    <small id="autorHelp" class="form-text text-muted">Informe o ano do livro</small> -->

        <div ng-messages="formLivro.ano.$error" style="color:maroon" role="alert">
          <div ng-message="required"  ng-show="formLivro.ano.$touched && formLivro.ano.$invalid">Informe o ano do livro</div>
          <div ng-message="number"  ng-show="formLivro.ano.$invalid">Informe um ano válido</div>
        </div>
      </div>

      <div class="form-group">
        <label for="autor">Autor(es):</label>
        <select required="true" multiple  id="autor" name="autor" class="form-control" ng-model="$ctrl.livro.autor" ng-required="true">
          <option ng-repeat="autor in $ctrl.autores" value="{{autor._id}}">{{autor.nome}}</option>

        </select>

        <div ng-messages="formLivro.autor.$error" style="color:maroon" role="alert">
          <div ng-message="required"  ng-show="formLivro.autor.$touched && formLivro.autor.$invalid">Informe pelo menos um autor</div>
        </div>
      </div> 

      <div class="form-group">
        <label for="qtdExemplar">Quantidade de exemplares</label>
        <input required="true" type="text" name="qtdExemplar" id="qtdExemplar" class="form-control" ng-model="$ctrl.livro.qtdExemplar">
        <!--    <small id="autorHelp" class="form-text text-muted">Informe o ano do livro</small> -->

        <div ng-messages="formLivro.qtdExemplar.$error" style="color:maroon" role="alert">
          <div ng-message="required"  ng-show="formLivro.qtdExemplar.$touched && formLivro.qtdExemplar.$invalid">Informe a quantidade de exemplares</div>
        </div>
      </div>


      <button class="btn btn-warning btn-lg" type="submit">Inserir</button>
    </form>

  </div>
</div>