<navbar></navbar>
<div class="row">
  <div class="col-sm-12">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Procurar por" ng-model="$ctrl.filtro" >
     
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <table class="table table-striped" ng-cloak>
      <thead>
        <tr>
          <th>#</th>
          <th>Nome</th>
          <th>Email</th>
          <th>Perfil</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="usuario in $ctrl.usuarios | filter : {nome : $ctrl.filtro }" >
          <th scope="row">{{$index+1}}</th>
          <td>{{usuario.local.nome}}</td>
          <td>{{usuario.local.email}}</td>
          <td>{{usuario.local.perfil}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>