<div class="row">
	<div class="col-sm-12 col-md-6 col-sm-offset-3">

		<h1><span class="fa fa-sign-in"></span> Cadastrar</h1>

		<!-- show any messages that come back with authentication -->
		<div class="alert alert-warning alert-dismissible fade show" role="alert" ng-if="$ctrl.msgErr">
			<button type="button" class="close" data-hide="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<strong>{{$ctrl.msgErr}}</strong>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-6 col-sm-offset-3">
		<!-- LOGIN FORM -->
		<form name="formCadastro" ng-submit="formCadastro.$valid && $ctrl.signup()" method="post">
			<div class="form-group">
				<label>Nome</label>
				<input type="text" required="true" class="form-control" name="nome" id="nome" ng-model="$ctrl.usuario.nome">

				<div ng-messages="formCadastro.nome.$error" style="color:maroon" role="alert">
					<div ng-message="required" ng-show="formCadastro.nome.$invalid">Informe o nome</div>
				</div>

			</div>
			<div class="form-group">
				<label>Email</label>
				<input type="email" required="true" class="form-control" name="email" id="email" ng-model="$ctrl.usuario.email">
				<div ng-messages="formCadastro.email.$error" style="color:maroon" role="alert">
					<div ng-message="required" ng-show="formCadastro.email.$invalid">Informe o email</div>
					<div ng-message="email" ng-show="formCadastro.email.$invalid">Informe um email válido</div>
				</div>
			</div>
			<div class="form-group">
				<label>Password</label>
				<input type="password" required="true" class="form-control" name="password" id="password" ng-model="$ctrl.usuario.password">
				<div ng-messages="formCadastro.password.$error" style="color:maroon" role="alert">
					<div ng-message="required" ng-show="formCadastro.password.$invalid">Informe a senha</div>
				</div>
			</div>

			<button type="submit" class="btn btn-warning btn-lg">Cadastrar conta</button>
		</form>

		<hr>

		<p>Já tem uma conta?<a href="#!/login">Login</a></p>
		<!--<p>Or go <a href="#!/">home</a>.</p>-->

	</div>
</div>