<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<h1><span class="fa fa-sign-in"></span> Login</h1>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		<h1> {{ $ctrl.msgErr.data.message}} </h1>
	</div>
</div>
<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		
		<form name="form" role="form" ng-submit="$ctrl.login()">
			<div class="form-group">
				<label>Email</label>
				<input type="text" class="form-control" name="email" ng-model="$ctrl.email">
			</div>
			<div class="form-group">
				<label>Senha</label>
				<input type="password" class="form-control" name="password" ng-model="$ctrl.password">
			</div>


			<button class="btn btn-warning btn-lg" type="submit">Login</button>
		</form>

		<hr>

		<p>Deseja criar uma conta? <a href="#!/signup">Sign up</a></p>
		<!--<p>Or go <a href="/">home</a>.</p>-->
	</div>

</div>