<navbar></navbar>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="alert alert-warning alert-dismissible fade show" role="alert" ng-if="$ctrl.msgErr">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>{{$ctrl.msgErr.data.message}}</strong>
    </div>
    <form name="formAutor" ng-submit="formAutor.$valid && $ctrl.update()">
     <div class="form-group">
      <label for="nomeAutor">Nome</label>
      <input type="text"  id="nome" name="nome"  class="form-control" ng-model="$ctrl.autor.nome" required="true">
      <div ng-messages="formAutor.nome.$error" style="color:maroon" role="alert">
        <div ng-message="required" ng-show="formAutor.nome.$touched && formAutor.nome.$invalid">Informe o nome do autor</div>
      </div>
    </div>
    <button class="btn btn-warning btn-lg" type="submit">Atualizar</button>
  </form>
</div>
</div>