<navbar></navbar>
<div class="row">
  <div class="col-md-12 col-sm-6">


    <div class="input-group">
      <input type="text" class="form-control" placeholder="Procurar por" ng-model="$ctrl.filtro" >
      <span class="input-group-btn">
        <a class="btn btn-secondary" role="button" href="#!/aluguel/new">Realizar empréstimo</a>
      </span>
    </div>


    <table class="table">
      <thead>
        <tr>
          <th>Livro</th> 
          <th>Status</th> 
          <th>Data do Aluguel</th> 
          <th>Para:</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody >
        <tr  ng-repeat="exemplar in $ctrl.emprestimos">
          <td>{{exemplar.livro.titulo}}</td>
          <td>{{exemplar.status}}</td>
          <td>{{exemplar.status==='Reservado' ? exemplar.dataReserva : exemplar.dataAluguel}}</td>
          <td>{{exemplar.locatario.local.nome}}</td> 

          <td >
           <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Ações
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item" type="button" ng-click="$ctrl.cancelar(exemplar)" ng-show="exemplar.status==='Reservado'">Cancelar Reserva</button>
              <button class="dropdown-item" type="button" ng-click="$ctrl.confirmar(exemplar)" ng-show="exemplar.status==='Reservado'">Confirmar Reserva</button>
              <button class="dropdown-item" type="button" ng-click="$ctrl.devolver(exemplar)" ng-show="exemplar.status==='Alugado'">Devolver</button>
            </div>
          </div>
        </td>
      </td> 



    </tr>
  </tbody>
</table>



</div>
