<navbar></navbar>
<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-sign-in"></span> Alterar senha</h1>

	<!-- show any messages that come back with authentication -->
	<h1> {{ $ctrl.msgErr}} </h1>

	<!-- LOGIN FORM -->
	<form ng-submit="$ctrl.updatePassword()" method="post">
		<div class="form-group">
			<label>Password</label>
			<input type="password" class="form-control" name="password" ng-model="$ctrl.usuario.password">
		</div>

		<button type="submit" class="btn btn-warning btn-lg">Cadastrar conta</button>
	</form>

	<hr>

	<p>Já tem uma conta?<a href="#!/login">Login</a></p>
	<!--<p>Or go <a href="#!/">home</a>.</p>-->

</div>