<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>
<body>
	<div class="container">
		<ul class="list-group">
			<% for(var i=0; i<autores.length; i++) {%>
			<li class="list-group-item">
				<span><%= autores[i].nome %></span>
			</li>
			<% } %>
		</ul>
	</div>
</body>
</html>
