<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>
<body>
	<div class="container">
		<div class="row">
			<form action="/livro" method="POST">			
				<div class="form-group">
					<label for="isbn">ISBN</label>
					<input type="text" class="form-control" id="isbn" name="isbn">
				</div>
				<div class="form-group">
					<label for="titulo">Título:</label>
					<input type="text" class="form-control" id="titulo" name="titulo">
				</div>
				<div class="form-group">
					<label for="autor_id">Autor:</label>
					<select  class="form-control" id="autor_id" name="autor_id">
						<% for(var i=0; i<autores.length; i++) {%>
						<option value="<%=  autores[i]._id %>" 	> 
							<%= autores[i].nome %> 
						</option>
						<% } %>
					</select>
				</div>
				<div class="form-group">
					<label for="ano">Ano:</label>
					<input type="text" class="form-control" id="ano" name="ano">
				</div>
				<button type="submit" class="btn btn-default">Inserir</button>
			</form> 
		</div>
	</div>
</body>
</html>
