<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>
	<div class="container">

		<div class="col-sm-6 col-sm-offset-3">

			<h1><span class="fa fa-sign-in"></span> Login</h1>

			<!-- show any messages that come back with authentication -->
			
			<!-- LOGIN FORM -->
			<form action="/login" method="post">
				<div class="form-group">
					<label>Email</label>
					<input type="text" class="form-control" name="email">
				</div>
				<div class="form-group">
					<label>Password</label>
					<input type="password" class="form-control" name="password">
				</div>

				<button type="submit" class="btn btn-warning btn-lg">Login</button>
			</form>

			<hr>

			<p>Need an account? <a href="/signup">Signup</a></p>
			<p>Or go <a href="/">home</a>.</p>

		</div>

	</div>
</body>
</html>

