<navbar></navbar>
<div class="row">
  <div class="col-md-12 col-sm-12">


   <!-- <div class="input-group">
      <input type="text" class="form-control" placeholder="Procurar por" ng-model="$ctrl.filtro" >
      <span class="input-group-btn">
        <a class="btn btn-secondary" role="button" href="#!/aluguel/new" ng-show="$ctrl.addPermission">Novo</a>
      </span>
    </div> -->


    <table class="table">
      <thead>
        <tr>
          <th>Livro</th> 
          <th>Status</th> 
          <th>Data</th> 
          <th>Ações</th>
        </tr>
      </thead>
      <tbody >
        <tr  ng-repeat="exemplar in $ctrl.exemplares">
          <td>{{exemplar.livro.titulo}}</td>
          <td>{{exemplar.status}}</td>
          <td ng-show="exemplar.status==='Reservado'">{{exemplar.dataReserva}}</td>
          <td ng-show="exemplar.status==='Reservado' && $ctrl.cancelarPermission">
            <input class="btn btn-primary" type="button" value="Cancelar Reserva" ng-click="$ctrl.cancelar(exemplar)">
          </td>          
        </tr>
      </tbody>
    </table>



  </div>
</div>
