<navbar></navbar>
<div class="row">
 <div class="alert alert-warning alert-dismissible fade show col-12" role="alert" ng-if="$ctrl.msgErr">
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
     <span aria-hidden="true">&times;</span>
   </button>
   <strong>{{$ctrl.msgErr}}</strong>
 </div>
</div>

<div class="row">
  <div class="col-sm-4">
  <img ng-src="{{$ctrl.livro.capa}}" class="img-fluid" alt="Responsive image" >
</div>
<div class="col-sm-4">
  <div class="row">
    <div class="col-sm-12"> <strong>Título:</strong> {{$ctrl.livro.titulo}} </div>

    <div class="col-sm-12"><strong>Ano: </strong> {{$ctrl.livro.ano}} </div>
    
    <div class="col-sm-12"> <strong>ISBN: </strong> {{$ctrl.livro.isbn}}</div>

    <div class="col-sm-12"><strong>Quantidade de exemplares: </strong> {{$ctrl.livro.exemplar.length}} </div>
    <div class="col-sm-12">
     <strong> 
     Exemplares Disponíveis:    </strong>{{ ($ctrl.livro.exemplar | filter : { status: 'Disponivel' } : true).length }} 
   </div>
   <div class="col-sm-12">
    <a href="#!/livros" class="btn btn-primary">Voltar</a>
  </div>



  <div class="col-sm-12">

    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Ver Descrição
    </button>

    <div class="collapse" id="collapseExample">
      <div class="card card-block">
       {{$ctrl.livro.descricao}}
     </div>
   </div>
   
 </div> 
</div>
</div>

<div class="col-sm-4">
 <div class="row">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Código do patrimônio</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
     <tr ng-repeat="exemplar in $ctrl.livro.exemplar | filter : { status: 'Disponivel' }"> 
       <td>{{exemplar.patrimonio}}</td>
       <td> 
         <button type="button" class="btn btn-primary" ng-click="$ctrl.reservar(exemplar)">Reservar</button>
       </td>         
     </tr>
     <tr ng-show="($ctrl.livro.exemplar | filter : { status: 'Disponivel' } : true).length == 0">
      <td>Sem exemplares disponíveis</td>
      <td></td>
    </tr>
  </tbody>
</table>
</div>
</div>
</div>