<navbar></navbar>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="alert alert-warning alert-dismissible fade show" role="alert" ng-if="$ctrl.msgErr">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>{{$ctrl.msgErr.data}}</strong>
        </div>
        <form name="formAluguel" ng-submit="formAluguel.$valid && $ctrl.alugar()">
            <div class="form-group">
                <label for="livro">Livro</label>
                <select id="livro" required="true" name="livro" class="form-control" ng-model="$ctrl.livro" ng-options="livro as livro.titulo for livro in $ctrl.livros">
                </select>
                <div ng-messages="formAluguel.livro.$error" style="color:maroon" role="alert">
                    <div ng-message="required"  ng-show="formAluguel.livro.$touched && formAluguel.livro.$invalid">Informe o livro </div>
                </div>
            </div>
            <div class="form-group">
                <label for="exemplar">Exemplar</label>
                <select id="exemplar" required="true" name="exemplar" class="form-control" ng-model="$ctrl.exemplar" ng-options="exemplar._id as exemplar.patrimonio for exemplar in $ctrl.livro.exemplar">
                </select>
                <div ng-messages="formAluguel.exemplar.$error" style="color:maroon" role="alert">
                    <div ng-message="required"  ng-show="formAluguel.exemplar.$touched && formAluguel.exemplar.$invalid">Informe o exemplar </div>
                </div>
            </div>

            <div class="form-group">
                <label for="locatario">Locatário</label>
                <select id="locatario" required="true" name="locatario" class="form-control" ng-model="$ctrl.locatario" ng-options="usuario._id as usuario.local.email for usuario in $ctrl.usuarios">
                </select>
                <div ng-messages="formAluguel.locatario.$error" style="color:maroon" role="alert">
                    <div ng-message="required"  ng-show="formAluguel.locatario.$touched && formAluguel.locatario.$invalid"> 
                        Informe o locatário 
                    </div>
                </div>
            </div> 
            
         </div> 

     </div>
     <button class="btn btn-warning btn-lg" type="submit" ng-show="$ctrl.aluguelPermission">Alugar</button>
 </form>
</div>
</div>


        <!--  <ui-select ng-model="$ctrl.selected" theme="select2" multiple class="col-sm-9">
            <ui-select-match>
                {{$item.titulo}}
            </ui-select-match>
            <ui-select-choices repeat="livro in ($ctrl.livros | filter: $select.search) track by livro._id">
                <span ng-bind="livro.titulo"></span>
            </ui-select-choices>
        </ui-select>
    -->


    


