<navbar></navbar>
<div class="row">
  <div class="col-md-12 col-sm-6">

   <table class="table">
      <thead>
        <tr>
          <th>Livro</th> 
          <th>Status</th> 
          <th>Data do Aluguel</th> 
          <th>Ações</th>
        </tr>
      </thead>
      <tbody >
        <tr  ng-repeat="exemplar in $ctrl.exemplares">
          <td>{{exemplar.livro.titulo}}</td>
          <td>{{exemplar.status}}</td>
          <td ng-show="exemplar.status==='Alugado'">{{exemplar.dataAluguel}}</td>
          <td ng-show="exemplar.status==='Alugado' && $ctrl.devolverPermission">
              <input class="btn btn-primary" type="button" value="Cancelar Reserva" ng-click="$ctrl.devolver(exemplar)">
          </td>          
        </tr>
      </tbody>
    </table>



  </div>
