<nav class="navbar navbar-expand-lg navbar-light bg-light" >
	<a class="navbar-brand" href="#!/home">Home</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="#!/livros" >Livros</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#!/autores">Autores</a>
			</li>
			
			<li class="nav-item">
				<a class="nav-link" href="#!/reservas">Reservas</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="#!/alugueis">Alugueis</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="#!/usuarios" ng-show="$ctrl.gerenciamentoPermission">Usuários</a>
			</li>


			<li class="nav-item">
				<a class="nav-link" href="#!/gerenciamento" ng-show="$ctrl.gerenciamentoPermission">Gerenciamento</a>
			</li>
			
			<!--
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Livros
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item" href="/livro">Reservar</a>
					<a class="dropdown-item" href="#">Alugar</a>
				</div>
			</li>-->

		</ul>
			<form class="form-inline my-2 my-lg-0" action="#!/alterarSenha">
			<button class="btn btn-outline-success my-2 my-sm-0"  type="submit">Alterar Senha</button>
		</form>
	<!--	<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>-->
		<form class="form-inline my-2 my-lg-0" action="#!/logout">
			<button class="btn btn-outline-success my-2 my-sm-0"  type="submit">Logout</button>
		</form>
		
	</div>
</nav>