<navbar></navbar>
<div class="row">
  <div class="col-md-12">
    

   <div class="input-group">
      <input type="text" class="form-control" placeholder="Procurar por" ng-model="$ctrl.filtro" >
      <span class="input-group-btn">
        <a class="btn btn-secondary" role="button" href="#!/autor/new" ng-show="$ctrl.addPermission">Novo</a>
      </span>
    </div>


    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Nome</th> 
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="autor in $ctrl.autores | filter : {nome : $ctrl.filtro }" >
          <th scope="row">{{$index+1}}</th>
          <td>{{autor.nome}}</td>
          <td class="actions">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ações
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#!/autor/{{autor._id}}/view" ng-show="$ctrl.viewPermission">Visualizar</a>
                <a class="dropdown-item" href="#!/autor/{{autor._id}}/edit" ng-show="$ctrl.editPermission">Editar</a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>