<navbar></navbar>
<div class="row">
	<div class="col-sm-12 col-sm-offset-3 alert alert-warning alert-dismissible fade show" role="alert" ng-if="$ctrl.msgErr">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<strong>{{$ctrl.msgErr}}</strong>
	</div>
</div>

<div class="row">
	<div class="col-sm-6"><strong>Nome: </strong>{{$ctrl.autor.nome}}</div>
	<div class="col-sm-6">
		<strong>Livros deste autor</strong>

		<div class="row">
			<div class="col-sm-12">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Procurar por" ng-model="$ctrl.filtro" >
					<span class="input-group-btn">
						<a class="btn btn-secondary" role="button" href="#!/livro/new" ng-show="$ctrl.addPermission">Novo</a>
					</span>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-sm-12">
				<table class="table table-striped" ng-cloak>
					<thead>
						<tr>
							<th>#</th>
							<th>Título</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="livro in $ctrl.livros | filter : {titulo : $ctrl.filtro }" >
							<th scope="row">{{$index+1}}</th>
							<td>{{livro.titulo}}</td>

							<td class="actions">
								<div class="dropdown">
									<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Ações
									</button>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#!/livro/{{livro._id}}/view" ng-show="$ctrl.viewLivroPermission">Visualizar</a>
										<a class="dropdown-item" href="#!/livro/{{livro._id}}/edit" ng-show="$ctrl.editLivroPermission">Editar</a>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>

</div>


