<navbar></navbar>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">

    <div class="alert alert-warning alert-dismissible fade show" role="alert" ng-if="$ctrl.msgErr">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>{{$ctrl.msgErr}}</strong>
    </div>
    <form name="formAutor"> 
      <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" id="nome" name="nome" class="form-control" ng-model="$ctrl.nome" required="true">
        <div ng-messages="formAutor.nome.$error" style="color:maroon" role="alert">
          <div ng-message="required" ng-show="formAutor.nome.$invalid">Informe o nome do autor</div>
        </div>
      </div>
      <button class="btn btn-warning btn-lg" ng-click="$ctrl.insert()">Inserir</button>
    </form>
  </div>
</div>